@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 10;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#chart-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteBtn {
  position: fixed;
  user-select: none;
  top: 0;
  right: 0;
}

form {
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: grey;
  align-items: center;
  align-content: center;
}

label {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  #chart-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input {
    height: 20px;
    font-weight: bolder;
  }

  form button {
    width: 60px;
    height: 30px;
    margin: 5px;
  }

  form {
    width: 100%;
    position: relative;
    display: inline;
    align-items: center;
    text-align: center;
  }

  label > button {
    align-self: flex-end;
  }
}
